<!-- Name: Coby Zimmerman
     Date: 11/2/20
     Assignment: CS336 Assignment #8
     Description: Nav page used to replace the old navigation in the other template pages -->
<ul class="links">
    <li><a href="{{ url_for('display_base') }}">Base Page</a></li>
    <li><a href="{{ url_for('display_index') }}">Index Page</a></li>
    <li><a href="{{ url_for('display_activities') }}">Activities Page</a></li>
    <li><a href="{{ url_for('display_awards') }}">Awards Page</a></li>
    <li><a href="{{ url_for('display_keynote') }}">Keynote Page</a></li>
    <li><a href="{{ url_for('display_meals') }}">Meals Page</a></li>
    <li><a href="{{ url_for('display_workshopschedule') }}">Workshop Schedule Page</a></li>
    <li><a href="{{ url_for('display_registration') }}">Registration Page</a></li>
    <li><a href="{{ url_for('display_poll') }}">Poll Page</a></li>
</ul>