<!doctype html>
<!-- Name: Coby Zimmerman
     Date: 11/2/20
     Assignment: CS336 Assignment #8
     Description: Template page used as outline for other 8 pages -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Template page to be used for the other 8 pages">
    <meta name="keywords" content="">
    <meta name="author" content="Coby Zimmerman">
    <meta name="robots" content="noindex">

    <title>Template Title</title>

</head>

<body>
<header>
    <h1>Template Header</h1>
    <!-- Links to the other pages -->
    <nav>
        <!--
        <a href="professional.html">Professional Page</a>
        <a href="activities.html">Activities Page</a>
        <a href="bookoutline.html">Book Outline Page</a>
        <a href="personal.html">Personal Page</a>
        <a href="sports.html">Sports Page</a>
        <a href="websites.html">Websites Page</a>
        <a href="index.html">Home Page</a>
        -->
    </nav>
</header>

<main>

</main>

<footer>
    <!-- address with fake address, phone number, and email -->
    <address>
        <small>

            1155 Derek Drive.
            Limerick, NY 13657 /
            202-555-0191 /
            j.rentor69@gmail.com

        </small>
    </address>
    <!-- Disclaimer -->
    <p>
        <small>
            While this web site was created to satisfy the requirement of building
            a web site for an academic course at Regis University, the views and
            opinions expressed on this web site are solely those of the original
            author and do not necessarily represent the views and opinions of
            Regis University.
        </small>
    </p>

</footer>

</body>

</html>
