<!-- Name: Coby Zimmerman
     Date: 11/2/20
     Assignment: CS336 Assignment #8
     Description: Thank you page that will be reached after user submits their registration form. Updated to be rendered
     using flask. -->

{% extends 'base.html' %}

{% block title %}
    Thank You
{% endblock %}

{% block header %}
    Thank You!
{% endblock %}

{% block content %}
    <!-- paragraph saying thank you -->
    <p>Thank you for signing up for the Guitar, Drum, and Bass Conference! We are very excited to see you and help you
    improve your playing. See you on April 7th, 2021!
    <br /><br />
    - Sincerely, your friends from New York.
    </p>
{% endblock %}